h3{
    color:darkslategray;
    text-align: center;
    margin:9vh;
    text-decoration: underline;
}

/*  slider (carousel)  */
.item-custom{
    width:100%;
    text-align:center;
}
.item-custom p,h2{
    padding-top:5%;
    color:white;
    font-size: larger;
}

.first{
    background-image: url("../assets/images/html_css.jpg");
    height:60vh;
    background-size:100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.second{
    background-image: url("../assets/images/js.jpg");
    height:60vh;
    background-size:100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.third{
    background-image: url("../assets/images/jquery.jpg");
    height:60vh;
    background-size:100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.fourth{
    background-image: url("../assets/images/bootstrap.jpg");
    height:60vh;
    background-size:100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

/*  about section  */
.about{
    color:darkslategray;
    margin:1vw;
    padding:9vw;
    display:grid;
    justify-content:center;
    text-align:center;
    border:2px solid darkslategray;
    border-radius:20px;
    transition: 0.5s ease;
    height:100vh;
}
.about:hover{
    transform: perspective(400px) rotateY(15deg);
    background-color:darkslategray;
    color:#cccccc;
}

/*  clients  */
.client img{
    width:100px;
    height:100px;
    z-index: 99;
    border-radius:50%;
    border:2px dotted darkslategray;
    margin-bottom:-50px
}
.box{
    border:2px dotted darkslategray;
}
.client p{
    color:darkslategray;
    font-size:12px;
    line-height:1.5px;
    margin-top:20px;

}
.client i{
    margin-bottom:5vh;
}

/*  contact  */
#contact form{
    width: 250px;
    text-align: center;
    margin: auto;
    margin-bottom: 9vh;
    background-color: rgba(0,0,0,0.5);
    padding-top: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
}
#contact form h2{
    color: white;
}
.input{
    text-align: center;
    font-size: 18px;
    border: none;
    outline: none;
    height: 35px;
    background: transparent;
    color: white;
    border-bottom: 3px solid white;
    width: 200px;
}
.input:focus{
    border-bottom: 3px solid burlywood;
}
::placeholder{
    color: lightgray;
}
textarea{
    background: transparent;
    border: 3px solid white;
    border-radius: 10px;
    margin:10px;
    width: 200px;
    outline: none;
}
textarea:focus{
    border: 3px solid burlywood;
}
.contact-button{
    background-color: white;
    color: darkslategray;
    border: none;
    font-size: 18px;
    padding: 10px 55px;
    border-radius: 50px;
    margin: 10px 0 15px 0;
}
.contact-button:hover{
    background-color:burlywood;
    box-shadow: 0 0 15px white;
}


/*  footer  */
footer{
    background-color: #cccccc;
}

/*  social- icon  */
footer i{
    color:white;
    background-color: black;
    margin:2vw;
    padding:1vw;
    border-radius:5px;
}
